// ----------------------------------------------
// Colors
// ----------------------------------------------

// Just some test colors

$blue:         #33a9e0;
$blue-light:   #e1f2fa;
$blue-dark:    #0076ad;

$slate:        #45454c;
$slate-light:  #efeff4;
$slate-dark:   #1e1e21;

$red:          #cb4e52;
$red-light:    #f7e2e2;
$red-dark:     #9c292d;
